<h2>Task Details</h2>

<p>
<strong>Task:</strong>
<%= @task[:action] %>
</p>

<p>
<strong> Description: </strong>
<%= @task[:description] %>
</p>

<p>
<strong> Completion Date: </strong>
<%= @task[:completion_date] %>
</p>

<p>
  <strong> Edit This Task </strong>
  <%= @task[:completion_date] %>
</p>
